$color-dark: #2A2B2A;
$color-green: #7B9E89;
$color-white: #FCFCFC;

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 200; /* this is "extra light" in figma document */
    overflow-x: hidden;
}

//navbar and hamburger menu stuff
.navbar {
    height: 120px;
    margin-top: -10px;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    z-index: 10;

    .logo {
        text-decoration: none;
        color: $color-dark;
        font-size: 30px;
        .A {
            color: $color-green;
            font-weight: bold;
        }
    }

    //hamburger menu 
    a {
        text-decoration: none;
        color: $color-dark;
        transition: color 0.3s ease;
    }

    a:hover {
        color: $color-green;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 40px;
        right: 50px;
        
        z-index: 10;
        
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; 
        z-index: 2; 
        
        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 8px;
        position: relative;
        
        background: $color-dark;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 40px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    //Transform all the slices of hamburger into a crossmark.
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;
        
        background: $color-white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    //fade in from the left
    #menuToggle input:checked ~ ul
    {
        transform: none;
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        #menu {
            transform: none;
            opacity: 0;

            transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
    }
}

.rectangle {
    position: absolute;
    background-color: $color-green;
    border-radius: 3px;
    box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, .25);
}

.hero-section {
    background-color: $color-white;
    height: 100vh;
    position: relative;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
       
        .hero-text {
            width: 70%;
            max-width: 1100px;
            padding-top: 80px;
            object-fit: cover;
            margin: auto;
            z-index: 1;
        }
    } 
    .one {
        height: 11px;
        width: 13%;
        top: -1%;
        right: 0%;
        z-index: 2;
    }
    .two {
        height: 14px;
        width: 6%;
        top: 68%;
        right: 0%;
    }
    .three {
        height: 32px;
        width: 9%;
        top: 71%;
        left: 0%;
    }
    .four {
        height: 22px;
        width: 18%;
        top: 78%;
        left: 0%;
    }
    .five {
        height: 9px;
        width: 16%;
        top: 85%;
        left: 35%;
    }
}

.transition {
    position: relative;
    height: 200px;
    background-color: $color-white;
    overflow: hidden;
    
    .six {
        height: 32px;
        width: 400px;
        left: 40%;
        top: 0%;
    }
    .seven {
        height: 32px;
        width: 400px;
        left: 45%;
        top: 30%;
    }
    .eight {
        height: 32px;
        width: 400px;
        left: 50%;
        top: 60%;
    }
}

.about-section {
    .about-intro {
        padding: 5%;
        position: relative;

        .intro-text{
            width: 75%;
            font-size: 2.75em;
            font-weight: 200;
        } 
        .dark-rectangle{
            .nine {
                height: 11px;
                width: 77%;
                background-color: $color-dark;
                margin: 30px 0;
                z-index: 1;
            }
        }
        .our-services {
            width: 38%;
            max-width: 1000px;
            padding-top: 55px;
        }
    }  
    .services {
        display: flex;
        width: 75%;
        padding-top: 100px;
        flex-wrap: wrap;
        gap: 40px;    
        align-items: center;  
        justify-content: center; 

        .service-elem {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            flex-wrap: wrap;
            align-items: center;

            .service-title {
                text-align: center;
                width: 200px;
                font-size: 2.5em;
                font-weight: normal;
                padding-bottom: 40px;
                border-bottom: 2px solid $color-dark;
                color: $color-dark;
            }
            .service-desc {
                max-width: 40%;
                font-size: 1em;
                font-weight: normal;
                text-indent: 30px;
                text-align: left;
                color: $color-dark;
            }
        }
    }
    .ten {
        height: 2100px;
        width: 15%;
        right: 5%;
        top: 7%;
        z-index: 0;
    }
}

.selected-works-section {
    background-color: $color-dark;
    height: 110vh;

    .display {
        padding: 5%;
        padding-top: 10%;

        .display-title {
            font-size: 4em;
            font-weight: 200;
            color: $color-white;
        }
        .display-box {
            width: 500px;
            height: 500px;
            background-color: $color-white;
            border: 5px solid $color-green;
        }
        .display-company {
            font-size: 2em;
            font-weight: 200;
            color: $color-white;
        }
    }
}

.contact-section {
    background-color: $color-dark;
    padding: 5%;
    height: 90vh;
    position: relative;

    .link {
        height: 90%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-items: center;

        .contact-us {
            width: 80%;
            max-width: 900px;
            object-fit: cover;
        }
        .arrow {
            width: 20%;
            height: 130px;
            padding-left: 20px;
            margin-top: 30px;
        }
    }
    .eleven {
        height: 11px;
        width: 12%;
        top: 20%;
        left: 0;
    }
    .twelve {
        height: 32px;
        width: 17%;
        right: 0;
        top: 76%;
    }
    .thirteen {
        height: 22px;
        width: 10%;
        right: 0;
        top: 82%;
    }
}

footer {
    background-color: $color-white;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright {
        font-weight: 400;
        font-size: 1.5em;
        color: $color-dark;
    }
}