* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 200; /* this is "extra light" in figma document */
}

.navbar {
  margin-top: -10px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
}
.navbar .logo {
  text-decoration: none;
  color: #2A2B2A;
  font-size: 30px;
}
.navbar .logo .A {
  color: #7B9E89;
  font-weight: bold;
}
.rectangle {
  position: absolute;
  background-color: #7B9E89;
  border-radius: 3px;
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.hero-section {
  background-color: #FCFCFC;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.hero-section .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .img-container .hero-text {
  width: 70%;
  max-width: 1100px;
  padding-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  z-index: 1;
}
.hero-section .one {
  height: 11px;
  width: 13%;
  top: -1%;
  right: 0%;
  z-index: 2;
}
.hero-section .two {
  height: 14px;
  width: 6%;
  top: 68%;
  right: 0%;
}
.hero-section .three {
  height: 32px;
  width: 9%;
  top: 71%;
  left: 0%;
}
.hero-section .four {
  height: 22px;
  width: 18%;
  top: 78%;
  left: 0%;
}
.hero-section .five {
  height: 9px;
  width: 16%;
  top: 85%;
  left: 35%;
}

.transition {
  position: relative;
  height: 200px;
  background-color: #FCFCFC;
  overflow: hidden;
}
.transition .six {
  height: 32px;
  width: 400px;
  left: 40%;
  top: 0%;
}
.transition .seven {
  height: 32px;
  width: 400px;
  left: 45%;
  top: 30%;
}
.transition .eight {
  height: 32px;
  width: 400px;
  left: 50%;
  top: 60%;
}

.about-section .about-intro {
  padding: 5%;
  position: relative;
}
.about-section .about-intro .intro-text {
  width: 75%;
  font-size: 2.75em;
  font-weight: 200;
}
.about-section .about-intro .dark-rectangle .nine {
  height: 11px;
  width: 77%;
  background-color: #2A2B2A;
  margin: 30px 0;
  z-index: 1;
}
.about-section .about-intro .our-services {
  width: 38%;
  max-width: 1000px;
  padding-top: 55px;
}
.about-section .services {
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 100px;
  flex-wrap: wrap;
  gap: 40px;
}
.about-section .services .service-elem {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.about-section .services .service-elem .service-title {
  text-align: center;
  width: 200px;
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 40px;
  border-bottom: 2px solid #2A2B2A;
}
.about-section .services .service-elem .service-desc {
  max-width: 40%;
  font-size: 1em;
  font-weight: normal;
  text-indent: 30px;
  text-align: left;
}
.about-section .ten {
  height: 1700px;
  width: 15%;
  right: 5%;
  top: 7%;
  z-index: 0;
}

.selected-works-section {
  background-color: #2A2B2A;
}
.selected-works-section .display {
  padding: 5%;
  padding-top: 10%;
}
.selected-works-section .display .display-title {
  font-size: 4em;
  font-weight: 200;
  color: #FCFCFC;
}
.selected-works-section .display .display-box {
  width: 500px;
  height: 500px;
  background-color: #FCFCFC;
  border: 5px solid #7B9E89;
}
.selected-works-section .display .display-company {
  font-size: 2em;
  font-weight: 200;
  color: #FCFCFC;
}

.contact-section {
  background-color: #2A2B2A;
  padding: 5%;
  height: 90vh;
  position: relative;
}
.contact-section .link {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-section .link .contact-us {
  width: 50%;
  max-width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */