body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200; /* this is "extra light" in figma document */
  overflow-x: hidden;
}

/* Nav Bar and Hero Section */
.navbar {
  height: 80px;
  margin-top: -10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0px;
  width: 100%;
}
.navbar .logo {
  padding-left: 20px;
  text-decoration: none;
  color: #2A2B2A;
  font-size: 30px;
}
.navbar .logo .A {
  color: #7B9E89;
  font-weight: bold;
}
.navbar a {
  text-decoration: none;
  color: #2A2B2A;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #7B9E89;
}
.navbar #menuToggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.navbar #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.navbar #menuToggle span {
  display: block;
  width: 40px;
  height: 1px;
  margin-bottom: 8px;
  position: relative;
  background: #2A2B2A;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 40px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.navbar #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.navbar #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.navbar #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.navbar #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.navbar #menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
.navbar #menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #FCFCFC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.navbar #menu li {
  padding: 10px 0;
  font-size: 22px;
}
.navbar #menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .navbar #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

.rectangle {
  position: absolute;
  background-color: #7B9E89;
  border-radius: 3px;
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.hero-section {
  background-color: #FCFCFC;
  height: 100vh;
  position: relative;
  margin-top: 100px;
}
.hero-section .hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-text-container .hero-text-img {
  width: 70%;
  max-width: 1100px;
  padding-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  z-index: 1;
}
.hero-section .hero-text-container .hero-text {
  display: none;
  color: #2A2B2A;
  font-size: 3em;
  font-weight: 200;
  padding-top: 100px;
  text-align: center;
  width: 80%;
}
.hero-section .one {
  height: 11px;
  width: 13%;
  top: -1%;
  right: 0%;
  z-index: 2;
}
.hero-section .two {
  height: 14px;
  width: 6%;
  top: 68%;
  right: 0%;
}
.hero-section .three {
  height: 32px;
  width: 9%;
  top: 71%;
  left: 0%;
}
.hero-section .four {
  height: 22px;
  width: 18%;
  top: 78%;
  left: 0%;
}
.hero-section .five {
  height: 9px;
  width: 16%;
  top: 85%;
  left: 35%;
}

/* Transition */
.transition {
  position: relative;
  height: 200px;
  background-color: #FCFCFC;
  overflow: hidden;
}
.transition .six {
  height: 32px;
  width: 400px;
  left: 40%;
  top: 0%;
}
.transition .seven {
  height: 32px;
  width: 400px;
  left: 45%;
  top: 30%;
}
.transition .eight {
  height: 32px;
  width: 400px;
  left: 50%;
  top: 60%;
}

/* About Section */
.about-section .about-intro {
  padding: 5%;
  position: relative;
}
.about-section .about-intro .intro-text {
  width: 75%;
  font-size: 2.75em;
  font-weight: 200;
}
.about-section .about-intro .dark-rectangle .nine {
  height: 11px;
  width: 77%;
  background-color: #2A2B2A;
  margin: 30px 0;
  z-index: 10;
}
.about-section .about-intro .our-services .our-services-img {
  width: 38%;
  max-width: 1000px;
  min-width: 335px;
  padding-top: 55px;
}
.about-section .about-intro .our-services .our-services-text {
  display: none;
  color: #2A2B2A;
  font-size: 3em;
  font-weight: 200;
  padding-top: 30px;
  text-align: left;
}
.about-section .services {
  display: flex;
  width: 75%;
  padding-top: 100px;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.about-section .services .service-elem {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.about-section .services .service-elem .service-title {
  text-align: center;
  width: 200px;
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 40px;
  border-bottom: 2px solid #2A2B2A;
  color: #2A2B2A;
}
.about-section .services .service-elem .service-desc {
  max-width: 40%;
  font-size: 1em;
  font-weight: normal;
  text-indent: 30px;
  text-align: left;
  color: #2A2B2A;
}
.about-section .ten {
  height: 2100px;
  width: 15%;
  right: 5%;
  top: 7%;
  z-index: 5;
}

/* Works Section */
.selected-works-section {
  background-color: #2A2B2A;
  height: 110vh;
}
.selected-works-section .display {
  padding: 5%;
  padding-top: 10%;
}
.selected-works-section .display .display-title {
  font-size: 4em;
  font-weight: 200;
  color: #FCFCFC;
}
.selected-works-section .display .display-box {
  width: 75%;
  height: 200px;
  background-color: #FCFCFC;
  border: 4px solid #7B9E89;
  /* Slideshow styles */
}
.selected-works-section .display .display-box .slideshow-img {
  display: none;
  width: 100%;
}
.selected-works-section .display .display-company {
  font-size: 2em;
  font-weight: 200;
  color: #FCFCFC;
}

/* Call-to-Action Section */
.contact-section {
  background-color: #2A2B2A;
  padding: 5%;
  height: 90vh;
  position: relative;
}
.contact-section .link {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
.contact-section .link .contact-us-img {
  width: 80%;
  max-width: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 15px;
}
.contact-section .link .contact-us-text {
  display: none;
  color: #FCFCFC;
  font-size: 3em;
  font-weight: 200;
  padding-top: 18px;
  text-align: left;
  display: none;
}
.contact-section .link .arrow {
  width: 20%;
  height: 130px;
  padding-left: 20px;
  margin-top: 30px;
  stroke: 1px;
}
.contact-section .link .arrow path {
  stroke: #FCFCFC;
  stroke-width: 2px;
}
.contact-section .eleven {
  height: 11px;
  width: 12%;
  top: 20%;
  left: 0;
}
.contact-section .twelve {
  height: 32px;
  width: 17%;
  right: 0;
  top: 76%;
}
.contact-section .thirteen {
  height: 22px;
  width: 10%;
  right: 0;
  top: 82%;
}

/* Footer Section */
footer {
  background-color: #FCFCFC;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright {
  font-weight: 400;
  font-size: 1.5em;
  color: #2A2B2A;
}

@media screen and (max-width: 700px) {
  /* Nav Bar and Hero Section */
  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hero-text-img {
    display: none;
  }
  .hero-text {
    display: inherit !important;
  }
  .our-services-img {
    display: none;
  }
  .our-services-text {
    display: inherit !important;
  }
  /* About Section */
  .about-intro .intro-text {
    font-size: 1.8em !important;
    margin-bottom: 0;
  }
  .services {
    padding-top: 0 !important;
    gap: 0 !important;
  }
  .services .service-elem {
    justify-content: center !important;
    gap: 0px !important;
    flex-wrap: wrap;
  }
  .services .service-elem .service-title {
    width: 80% !important;
    text-align: center !important;
    font-size: 1.75em !important;
  }
  .services .service-elem .service-desc {
    max-width: 100% !important;
  }
  /* Works Section */
  .selected-works-section {
    height: 550px;
  }
  .selected-works-section .display .display-title {
    font-size: 2.25em !important;
  }
  .selected-works-section .display .display-box {
    width: 75% !important;
    height: 300px;
    border: 2px solid #7B9E89 !important;
  }
  .selected-works-section .display .display-company {
    font-size: 1.5em !important;
  }
  .ten {
    height: 1800px !important;
  }
  /* Call-to-Action Section */
  .link {
    width: 100% !important;
  }
  .link .contact-us-img {
    display: none;
  }
  .link .contact-us-text {
    display: inherit !important;
  }
  .link .arrow {
    width: 50px !important;
  }
  /* Footer Section */
  footer {
    height: 40px !important;
  }
  footer .copyright {
    font-size: 1em !important;
  }
}/*# sourceMappingURL=index.css.map */